.about-section {
    width: 70%;
    padding: 10% 18%;
    line-height: 2;
}

.about-description {
    text-align: left;
    float: left;
    width: 60%;
}

.about-img {
    float: right;
    width: 40%;
}

.description-btn {
    background: #3D94F6;
    border-radius: 40px;
    height: 10px;
    line-height: 14px;
    color: #FFFFFF;
    width: 160px;
    font-size: 1rem;
    font-weight: 100;
    padding: 24px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.description-btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    border-radius: 40px;
    text-decoration: none;
}